@keyframes ldio-qzrdtqxoba9 {
    0% { transform: rotate(0) }
    100% { transform: rotate(360deg) }
}
.ldio-qzrdtqxoba9 div { box-sizing: border-box!important }
.ldio-qzrdtqxoba9 > div {
    position: absolute;
    width: 140px;
    height: 140px;
    top: 30px;
    left: 30px;
    border-radius: 50%;
    border: 16px solid #000;
    border-color: #2f403a transparent #2f403a transparent;
    animation: ldio-qzrdtqxoba9 0.7543859649122806s linear infinite;
}

.ldio-qzrdtqxoba9 > div:nth-child(2), .ldio-qzrdtqxoba9 > div:nth-child(4) {
    width: 104px;
    height: 104px;
    top: 48px;
    left: 48px;
    animation: ldio-qzrdtqxoba9 0.7543859649122806s linear infinite reverse;
}
.ldio-qzrdtqxoba9 > div:nth-child(2) {
    border-color: transparent #9c8f72 transparent #9c8f72
}
.ldio-qzrdtqxoba9 > div:nth-child(3) { border-color: transparent }
.ldio-qzrdtqxoba9 > div:nth-child(3) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
}
.ldio-qzrdtqxoba9 > div:nth-child(3) div:before, .ldio-qzrdtqxoba9 > div:nth-child(3) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: -16px;
    left: 46px;
    background: #2f403a;
    border-radius: 50%;
    box-shadow: 0 124px 0 0 #2f403a;
}
.ldio-qzrdtqxoba9 > div:nth-child(3) div:after {
    left: -16px;
    top: 46px;
    box-shadow: 124px 0 0 0 #2f403a;
}

.ldio-qzrdtqxoba9 > div:nth-child(4) { border-color: transparent; }
.ldio-qzrdtqxoba9 > div:nth-child(4) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
}
.ldio-qzrdtqxoba9 > div:nth-child(4) div:before, .ldio-qzrdtqxoba9 > div:nth-child(4) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: -16px;
    left: 28px;
    background: #9c8f72;
    border-radius: 50%;
    box-shadow: 0 88px 0 0 #9c8f72;
}
.ldio-qzrdtqxoba9 > div:nth-child(4) div:after {
    left: -16px;
    top: 28px;
    box-shadow: 88px 0 0 0 #9c8f72;
}
.loadingio-spinner-double-ring-htud99zktnj {
    width: 200px;
    height: 200px;
    top: 40%;
    left: 44%;
    position: absolute;
    display: inline-block;
    overflow: hidden;
    background-color: transparent;
}
.ldio-qzrdtqxoba9 {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}
.ldio-qzrdtqxoba9 div { box-sizing: content-box; }